body {
  background-color: #f9f9f9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #25597C;
}

/* Títulos */
h1, h2, h3 {
  color: #25597C;
}

/* Texto general */
p, .text-muted {
  color: #333;
}

/* Botones */
.btn-primary {
  background-color: #25597C;
  border-color: #25597C;
}

.btn-primary:hover {
  background-color: #1a3e5a;
  border-color: #1a3e5a;
}

.btn-outline-secondary {
  border-color: #5A90A0;
  color: #5A90A0;
}

.btn-outline-secondary:hover {
  background-color: #5A90A0;
  color: #fff;
}

/* Alertas */
.alert {
  border-radius: 0.5rem;
  font-weight: 500;
}

/* Tarjetas */
.card {
  border-radius: 0.75rem;
  transition: transform 0.2s ease-in-out;
  border: 1px solid #e1e1e1;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

/* Iconos en tarjetas */
.card .bi {
  color: #25597C;
  transition: transform 0.2s ease-in-out;
}

.card:hover .bi {
  transform: scale(1.15);
}

.badge {
  font-size: 0.85rem;
  background-color: #25597C;
  color: white;
}




.unju-logo {
  max-height: 100px; 
  display: inline-block;
}
